/*sdf*/
.h5_component{
    background-size: 100%;
    -webkit-background-size:100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
}