/*折线图样式*/
.h5_component_radar{

}

.h5_component_radar canvas{

    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
}

.h5_component_radar .text{
    position: absolute;
    font-size: 12px;
    text-align: center;
    transition: all 1s 1.2s;
    opacity: 0;
}
.h5_component_radar_load .text{
    opacity: 1;
}

.h5_component_radar_leave .text{
    opacity: 0;
}

