<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
        /**{*/
            /*margin: 0;*/
            /*padding: 0;*/
        /*}*/
        /*.canvas{*/
            /*position: absolute;*/
        /*}*/
    </style>
</head>
<body>
<canvas id="canvas" class="canvas"></canvas>
<!--<%= htmlWebpackPlugin.options.date %>-->
<!--<% for(var key in htmlWebpackPlugin.files){ %>-->
    <!--<%= key %> : <%= JSON.stringify(htmlWebpackPlugin.files[key]) %>-->
<!--<% } %>-->

<!--<% for(var key in htmlWebpackPlugin.options){ %>-->
<!--<%= key %> : <%= JSON.stringify(htmlWebpackPlugin.options[key]) %>-->
<!--<% } %>-->

<!--<script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>-->
</body>
</html>
